{% extends 'base.html' %}
{% block title %}
Results
{% endblock title %}
{% block content %}

<div class="container">
  <p style="border: 10px;margin: 5px;">
    <div>
      <pre  style="border: 5px;margin: 5px;" >
        <h2>
          Images uploaded for the prediction
        </h2>
      </pre>
      
  <div>
    <img src='/loaddata_values'>
  </div>
  </div>
</p>
<p style="border: 10px;margin: 5px;">
<div>
  <pre  style="border: 5px;margin: 5px;" >
  <h2>Results:</h2>
</pre>
</div>
  {% for key,value in data.items() %}
  <ul>
    <li>{{ key }} - {{ value }}</li>
  </ul>
  {% endfor %}
  <!--<img src="{{ data }}">-->
</p>
</div>
{% endblock %}