{% extends 'base.html' %}

		{% block content %}
		<div class="container">
		<div class="justify-content-lg-center">
		<form method="POST" action="http://127.0.0.1:5000/save_data" enctype="multipart/form-data">
		<div  class="d-flex align-items-center">
		<form>
		<div class="container" style="border: 50px;margin: 50px;" >
		<h3>
		<label for="file" >Input data file </label>
		</h3>
		<input type="file" id="file" name="data"/><br><br>
		</div>
		<div class="container" style="border: 50px;margin: 50px;">
		<h3>
			<label for="model">Input Model </label>
		</h3>
		<input type="file" id="model" name="model" font-size="150"/><br><br>
		</div>
		<div class="container" style="border: 50px;margin: 50px;">
		<h3>
		<input class="like" type="submit" value="Make prediction"/>
		</h3>
	</div>
		</form>
	</div>
</div>
</div>
		{% endblock %}

